div[data-role="footer"] {
  background: #4C7965;
}

.ui-body-b, .ui-page-theme-b .ui-body-inherit, html .ui-bar-b .ui-body-inherit, html .ui-body-b .ui-body-inherit, html body .ui-group-theme-b .ui-body-inherit, html .ui-panel-page-container-b {
  background: #4C7965;
}

.footer a {
  text-decoration: none;
  color: #fff;
}